{% extends 'base.html.twig' %}

{% block title %}Hello PersoController!{% endblock %}

{% block body %}
<div class="mt-4">
    <ul class="list-group">
        {% for quest in questionnaires %}
        <li class="list-group-item"><a href="{{ path('perso_questions', {'id': quest.id})}}">{{ quest.titre }}</a></li>
        {% endfor %}
    </ul>
<div>
{% endblock %}
