{% extends 'base.html.twig' %}

{% block title %}Mes thèmes{% endblock %}

{% block body %}

<div class="mt-4">
    <ul class="list-group">
        {% for theme in thematiques %}
        <li class="list-group-item"><a href="{{ path('perso_questionnaires', {'id': theme.id})}}">{{ theme.nom }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
