{% extends 'base.html.twig' %}

{% block title %}Mes thèmes{% endblock %}

{% block body %}

<div class="mt-4 row">
    <h2 class="text-primary col-sm-12 mb-4 text-center">Pour commencer, choisis une thématique !</h2>
    <ul class="list-group col-md-6 m-auto">
        {% for theme in thematiques %}
        <li class="list-group-item text-center"><a href="{{ path('perso_questionnaires', {'id': theme.id})}}">{{ theme.nom }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
